/* laptops and big tablets - 1024px - 1200px */
@media only screen and (max-width: 1200px) {
    /* for now nothing to change   */

}

/* tablets 768px - 1023px */
@media only screen and (max-width: 1023px) {

    html,
    body {
        font-size: 9px;
    }

    nav {
        margin: 0;
    }

    .nav-links {
        gap: 4rem;
    }

    /* KAROLINA */

    .contact-us-row {
        margin: 17rem auto 4rem auto;
    }

    .footer-brand-info-col h4 {
        font-size: 3.5rem;
    }

    .branches-title {
        font-size: 3rem;
    }

    .contact-us-card-1 {
        font-size: 3rem;
    }

    .contact-us-card-1,
    .contact-us-card-2 {
        padding: 4rem 3rem;
    }


    footer {
        padding: 2rem 3rem;
    }

    .footer-links-col a {
        font-size: 1.5em;
    }
}
/* mobile - phones */
@media only screen and (max-width: 767px) {

    section {
        padding: 4rem 3rem;
    }

    html,
    body {
        font-size: 7px;
    }

    .contact-us-card-1,
    .contact-us-card-2 {
        padding: 1.5rem 2.5rem;
    }

    .branches-title {
        top: -8rem;
    }

    .contact-us-row {
        margin: 10rem auto 0 auto;
    }

footer {
    padding: 4rem 3rem;
}

.footer-top {
    margin: 1rem auto 2rem auto;
}
}