/* laptops and big tablets - 1024px - 1200px */
@media only screen and (max-width: 1200px) {
    /* for now nothing to change   */

}

/* tablets 768px - 1023px */
@media only screen and (max-width: 1023px) {

    html,
    body {
        font-size: 9px;
    }

    nav {
        margin: 0;
    }

    .nav-links {
        gap: 4rem;
    }

    /* KAROLINA */
    section {
        padding: 2rem 3rem;
    }

    .contact-us-row {
        margin: 17rem auto 4rem auto;
    }

    .footer-brand-info-col h4 {
        font-size: 3.5rem;
    }

    .branches-title {
        font-size: 3rem;
    }

    .contact-us-card-1 {
        font-size: 3rem;
    }

    footer {
        padding: 2rem 3rem;
    }

    .footer-links-col a {
        font-size: 1.5em;
    }

}

@media only screen and (max-width: 767px) {
    html, body {
        font-size: 7px;
    }
    nav {
        position: relative;
    }

    nav ion-icon[name="reorder-three"] {
        display: block;
        font-size: 32px;
    }
    .nav-links {
        opacity: 0;
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        top: 16rem;
        right: 0;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }

}