/* laptops and big tablets - 1024px - 1200px */
@media only screen and (max-width: 1200px) {
    /* for now nothing to change   */

}

/* tablets 768px - 1023px */
@media only screen and (max-width: 1023px) {
    html, body {
        font-size: 9px;
    }

    nav {
        margin: 0;
    }

    .nav-links {
        gap: 4rem
    }

}

@media only screen and (max-width: 767px) {}