* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

input,
textarea {
    outline: none;
    font-family: 'Montserrat';
}

/* --------------------------- */
/* REUSABLE */
/* --------------------------- */

section {
    padding: 7rem 3rem;
}

.section-light {
    background-color: #181717;
}

h2 {
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;
    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    width: 6rem;
    background-color: red;
    height: 3px;
    top: 6rem;
    left: calc(50% - 3rem);
}

/* BUTTONS */

.btn {
    height: 5rem;
    width: 12rem;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    transition: all .4s;
}

.btn-full {
    background-color: #FF706A;
    color: #F0D891;
}

.btn-full:hover {
    background-color: #f74f49;
}

.btn-outline {
    border: 2px solid darkblue;
}

.btn-outline:hover {
    background-color: rgba(128, 128, 128, 0.283);
}

/* --------------------------- */
/* HEADER */
/* --------------------------- */

header {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.718), rgba(0, 0, 0, 0.222)), url(img/tlo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 2rem;
}

.hero-text {
    position: absolute;
    right: 3rem;
    bottom: 25rem;
    color: #fff;
}

.hero-text h1 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.hero-text p {
    font-size: 2.2rem;
    font-weight: 600;
}

/* --------------------------- */
/* NAV */
/* --------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 4rem;
    margin-top: 0;
}

nav img {
    width: 12rem;
    border-radius: 50%;
}

nav ion-icon[name="reorder-three"] {
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 5rem;
}

.nav-links li {
    font-size: 2rem;
    font-weight: bold;
}

.nav-links a {
    color: #e6d3a3;
    text-transform: uppercase;
    transition: all .4s;
    padding: 1rem 0;
    border: 1px solid transparent;
}

.nav-links a:hover {
    color: #ff706a;
    border-bottom: 1px solid #ff706a;
}

/* --------------------------- */
/* PRICELIST */
/* --------------------------- */

.pricelist-cards-container {
    display: flex;
    /*---DIV prop.*/
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100rem;
    gap: 5rem;
    margin: 5rem auto 0 auto;
}

.pricelist-card {
    display: flex;
    flex-direction: column;
    background-color: #F0D891;
    padding: 1rem;
    position: relative;
    /*---DIV prop.*/
    margin: 0 auto 0 auto;
    flex: 1 0 calc(35% - 2.5rem);
}

.pricelist-card:last-child {
    margin-bottom: 0;
}

.pricelist-card-premium-features {
    display: flex;
    flex-direction: row;
    gap: 10.5rem;
    margin-bottom: 2rem;
}

.card-col {
    display: flex;
    flex-direction: column;
}

.pricelist-card h3 {
    border-bottom: 2px solid #000;
    width: 12rem;
    font-size: 2rem;
    color: #666699;
    margin-bottom: 2rem;
}

/* POP-UP-WINDOW*/

.pop-up-window {
    position: relative;
    cursor: pointer;
    width: 10rem;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    display: block;
    background-color: #c65e5a;
    padding: 1.5rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    width: 15rem;
    left: 50%;
    transform: translateX(-50%);
    top: -220%;
    opacity: 0;
}

/* pseudoelement dziubek*/
.tooltip::after {
    content: "";
    position: absolute;
    border: 13px solid;
    border-color: #c65e5a transparent transparent transparent;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.pop-up-window:hover .tooltip {
    visibility: visible;
    transition: 1s;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: -220%;
    transform: translateX(-50%);
}

/* --------------------------------- */

.card-feature {
    display: flex;
    color: #FF706A;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    align-items: center;
    gap: 2rem;
}

.card-item {
    display: block;
    margin: 2rem 0 1rem 3rem;
    display: flex;
    text-align: left;
    color: #FF706A;
    font-size: 1.8rem;
    font-weight: 700;
    width: 20rem;
}

.card-footer p {
    color: #FF706A;
    font-size: 2.5rem;
    font-weight: 700;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    align-items: center;
}

.card-feature ion-icon {
    color: #000;
}

/* --------------------------- */
/* CONTACT US */
/* --------------------------- */

.branches-title {
    color: #FF706A;
    font-size: 3.5rem;
    font-weight: 700;
    position: absolute;
    top: -12rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.contact-us-card-1 {
    position: relative;
}

.contact-us-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20rem auto 4rem auto;
    max-width: 150rem;
}

.contact-us-card-1,
.contact-us-card-2 {
    display: flex;
    flex: 0 0 calc(45% - 1rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 700;
    background-color: #66ccff81;
    color: #FF706A;
    border-radius: 25px;
    padding: 6rem 5rem;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-element {
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(48% - 0.5rem);
    justify-content: space-between;
}

.form-element label {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #FF706A;
    max-width: fit-content;
}

.form-element input {
    height: 3.5rem;
    font-weight: 400;
    font-size: 2rem;
    padding: 0.3rem;
    transition: all .4s;
    border: none;
    border-radius: 5px;
    border: 2px solid #000;
}

.form-element input:focus {
    transform: scale(1.03);
    box-shadow: 0 0 10px 5px #0b4968c4;
}

.form-element textarea {
    min-height: 12rem;
    resize: vertical;
    font-weight: 400;
    font-size: 2rem;
    padding: 0.3rem;
    border-radius: 5px;
    transition: all .4s;
    border: 2px solid #000;
    box-shadow: 0 0 10px 5px #0b4968c4;
}

.form-element textarea:focus {
    transform: scale(1.03);
}

.button-container {
    display: flex;
    justify-content: end;
}

.contact-us-card button {
    margin-top: 2rem;
}

/* ----------------------- */
/* FOOTER */
/* ----------------------- */

footer {
    padding: 7rem 3rem;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem auto;
    max-width: 120rem;
}

.footer-brand-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer-brand-row img {
    max-width: 14rem;
    max-height: 14rem;
    border-radius: 50%;
}

.footer-brand-info-col {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
}

.footer-brand-info-col h4 {
    font-size: 4.5rem;
}

.footer-brand-info-col p {
    font-size: 1.5rem;
}

.footer-links-col {
    max-width: 50rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.footer-links-col a {
    font-size: 2rem;
    line-height: 1;
    display: flex;
    align-items: center;
}

.footer-links-col ion-icon {
    font-size: 2.5rem;
}

.footer-item {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
}

.footer-item a {
    display: flex;
    align-items: center;
    line-height: 1;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding-top: 2rem;
}

.footer-bottom p,
a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}